<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SendMail</title>
<script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
<script>
    var res;
    var input_val;
    function show_result(){
        var xmlhttp;
        input_val = document.getElementById('1').value;

        if (window.XMLHttpRequest)
        {
            //  IE7+, Firefox, Chrome, Opera, Safari 浏览器执行代码
            xmlhttp=new XMLHttpRequest();
        }
        else
        {
            // IE6, IE5 浏览器执行代码
            xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
        }
        xmlhttp.onreadystatechange=function(){
            res = xmlhttp.responseText;
            var result = ''
            for (var i =0;i<4;i++){
                result = result.concat(res[i]);
            }
            document.getElementById('test1').innerHTML=result;
        }
        xmlhttp.open('GET','/show_result?user='+input_val,true);
        xmlhttp.send();
    }

    function proving(){
        var code = document.getElementById('2').value
        var correct_code = ''
        for (var i = 4 ;i<10;i++){
            correct_code = correct_code.concat(res[i]);
        }
        if (correct_code == code){
            alert('验证成功');
            change_pwd();
        }else{
            alert('验证失败')
        }
    }
</script>
<script>
    function change_pwd(){
    input_val = document.getElementById('1').value;
    var info = {'userid':input_val}
    $.ajax({
        type:'GET',
        url:'/change_pwd?userid='+input_val,
        success:function(respone){
            alert(respone)
        }
    })
    }
</script>
<script>
$(document).ready(function(){
    var t = $('#test1')

    t.bind('DOMNodeInserted',function(){
        if (t.text() == '发送成功'){
            document.getElementById('test2').style.display='';
        };
    });
});
document.getElementById('test2').style.display='';
</script>

</head>
<body>
<form class="box">
    <h3>找回密码</h3>
    输入公司邮箱：<input type="text" name="user" id="1">@szhq.com <br>
    <input type="button" value="提交" onclick="show_result()">
</form>
<div id="test1"></div><br>
<div id="test2" style="display:None">
    <p>输入验证码</p>
    <input type="text" name="code" id="2"><input type="button" value="验证" onclick="proving()">
</div>
<button onclick="change_pwd()">test</button>
<p id="result">test</p>
</body>
</html>